
<h1>{{artist.name}}</h1>
<div class="artist-star-rating">
  <button class="star">&#9734;<button> 
  <button class="star">&#9734;<button> 
  <button class="star">&#9734;<button> 
  <button class="star">&#9734;<button> 
  <button class="star">&#9734;<button> 
  <button class="star">&#9734;<button> 
  <button class="star">&#9734;<button> 
  <button class="star">&#9734;<button> 
  <button class="star">&#9734;<button> 
  <button class="star">&#9734;<button> 
</div>
  <img src="{{artist.imageUrl}}" alt="{{name}}-picture" width="400" height="auto" />
  <h3>Origin:</h3>
  <p>{{artist.origin}}</p>
  <h3>Birthday:</h3>
  <p>{{artist.birthday}}</p>
  {{#if artist.deathDate}}
    <h3>Death</h3>
    <p>{{artist.deathDate}}</p>
  {{/if}}
  {{#if artist.bands}} 
  <h3>Related Bands:</h3>
    {{#each artist.bands}} 
      <a href="/bands/{{_id}}"><p>{{name}}</p></a>
    {{/each}}
  {{/if}}
  <h3>Instruments:</h3>
  <p>{{artist.instrument}}</p>
  <h3>Musical Genres:</h3>
  <p>{{artist.genre}}<p>
  <h3>Occupation:</h3>
  <p>{{artist.occupation}}</p>

  <a href="/artists/{{artist._id}}/edit">Edit Artist</a>

  <form action="/artists/{{artist._id}}/delete" method="POST">
    <button class="regular-btn">Delete</button>
</form>
