<h1>Band Details Page</h1>
<br />
<h2>{{singleBand.name}}</h2>

<img src={{singleBand.imageUrl}} alt={{singleBand.name}} "picture" width=300px height="auto">

<h3>Origin:</h3>
<p>{{singleBand.origin}}</p>
<h3>Year:</h3>
<p>{{singleBand.year}}</p>
<h3>Members:</h3>
<p>{{singleBand.members}}</p>
<h3>Genre:</h3>
<p>{{singleBand.genre}}</p>


<a href="/bands/{{singleBand._id}}/edit">Edit Band</a>


{{!-- Delete a Band --}}
<form action="/bands/{{singleBand._id}}/delete" method="POST">
    <button>Delete</button>
</form>